; Current available modules
; | wallhaven | hubble | itebooks | tuebl | iconfinder | findicons | xkcd | whatif | howstuffworks |


;;;;;;;;;;;;;;;;;;;;;;
; Wallpapers & Images
;;;;;;;;;;;;;;;;;;;;;;

; http://alpha.wallhaven.cc/
[wallhaven]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/alpha-wallhaven/
; Number of files to download each run
number_of_files = 5
; Number of threads the parser should use
threads = 1

; http://hubblesite.org/gallery/album/entire/npp/all/
[hubble]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/hubble/
; There will only ever be 1 page to parse
number_of_files = 1
; Only ever use one thread here, the downloads are threaded internally
threads = 1


;;;;;;;;;;
; E-Books
;;;;;;;;;;

; http://it-ebooks.info/
[itebooks]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/it-ebooks/
; Number of files to download each run
number_of_files = 5
; Number of threads the parser should use
threads = 1

; http://tuebl.ca/
[tuebl]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/tuebl/
; Number of files to download each run
number_of_files = 5
; Number of threads the parser should use
threads = 1


;;;;;;;;
; Icons
;;;;;;;;

; https://www.iconfinder.com
[iconfinder]
; If false, this site will NOT be parsed
enabled = false
; Search term to parse
search = user
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/icoinfinder/
; Number of pages to parse
number_of_files = 5
; Only ever use one thread here, the downloads are threaded internally
threads = 1

; http://findicons.com/
[findicons]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/findicons/
; Number of files to download each run
number_of_files = 5
; Only ever use one thread here, the downloads are threaded internally
threads = 1


;;;;;;;;;;;;;
; Web Comics
;;;;;;;;;;;;;

; http://xkcd.com/
[xkcd]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/xkcd/
; Number of files to download each run
number_of_files = 5
; Number of threads the parser should use
threads = 1

; http://what-if.xkcd.com/
[whatif]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/xkcd-whatif/
; Number of files to download each run
number_of_files = 5
; Number of threads the parser should use
threads = 1


;;;;;;;;;;;
; Articles
;;;;;;;;;;;

; http://www.howstuffworks.com/
[howstuffworks]
; If false, this site will NOT be parsed
enabled = false
; Location to download the files (trailing slash is optional)
download_path = ~/Downloads/how-stuff-works
; This site has pages
number_of_files = 1
; Only ever use one thread here, the downloads are threaded internally
threads = 1